/**
 *Powered By:MINDARTLK.
 *version:v0.1.0
 **/
div{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
div>div{
    border: 1px solid black;
    width: 570px;
    height: 60px;
    position: relative;
}
#buttons{
    position: absolute;
    width: 199px;
    height: 30px;
    top: 130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#buttons>button{
    width: 100px;
    height: 30px;
}
#buttons>button:nth-child(1){
    background-color: blue;
    color: white;
}
#buttons>button:nth-child(2){
    background-color: red;
    color: white;
}