* {
    background-color: #9b59b6;
    text-decoration: none;
    color: white;
}

#H4-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Oxygen, sans-serif;
    letter-spacing: 2px;
}

div > #img1 {
    position: absolute;
    width: 429px;
    height: 429px;
    left: 163px;
    top: 124px;
}

.assignment {
    position: relative;
    left: 304px;
    top: 380px;
    width: 148px;
    height: 36px;
    border-radius: 23px;
    background-color: #9b59b6;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

div > #img2 {
    position: absolute;
    left: 132vh;
    width: 324px;
    top: 26vh;
    height: 320px;
}

.assignment1 {
    position: relative;
    left: 144vh;
    top: 398px;
    width: 141px;
    height: 36px;
    border-radius: 23px;
    background-color: #3498db;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#h4 {
    position: absolute;
    left: 175vh !important;
    top: 0vh;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}
