footer {
    border: 2px solid blue;
    position: relative;
    background-color: #3498db;
    text-align: center;
}

footer>p:nth-child(1){
    font-family: 'Inter', sans-serif;
    color: white;
}

footer>p:nth-child(2){
    margin-top: 7px;
    font-family: 'Inter', sans-serif;
    color: white;
}

footer > p:nth-child(3) {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 21px;
    margin-right: 989px;
    margin-top: 18px;
}

footer > p:nth-child(4) {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 21px;
    margin-left: 15px;
    margin-top: -68px;
}

footer > p:nth-child(5) {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 21px;
    margin-top: -72px;
    margin-left: 1000px;
}
