/**
*Powered By:MINDARTLK.
*version:v0.1.0
**/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9b59b6;
}

body > main {
    position: relative;
    height: 1580px;
}

body > main > #main-content {
    height: 218vh;
    background-color: #3498db;
}

div > #H1-6 {
    position: absolute;
    left: 78vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
}

.class21 {
    text-decoration: none;
    color: white;
}

div > #h3 {
    position: absolute;
    left: 175vh;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    top: 1px;
    letter-spacing: 1px;
}

#img45 {
    position: absolute;
    width: 70vh;
    height: 42vh;
    left: 12vh;
    top: 16vh;
    border-radius: 20px;
}

.but21 {
    position: absolute;
    top: 55vh;
    left: 29vh;
    width: 33vh;
    height: 5vh;
    border-radius: 16px;
    background-color: #9b59b6;
    font-family: 'ubuntu', sans-serif;
    font-size: 17px;
}

#footer {
    position: relative;
    background-color: #34495e;
    height: 12vh;
    top: 208vh;
}

div > #p3 {
    position: absolute;
    left: 89vh;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 17px;
}

div > #p4 {
    position: absolute;
    left: 75vh;
    top: 4vh;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 17px;
}

#img46 {
    position: absolute;
    left: 109vh;
    top: 16vh;
    width: 74vh;
    border-radius: 20px;
}

.but22 {
    position: absolute;
    top: 56vh;
    left: 138vh;
    width: 124px;
    height: 5vh;
    border-radius: 16px;
    background-color: #9b59b6;
    font-family: 'ubuntu', sans-serif;
    font-size: 17px;
}

#img47 {
    position: absolute;
    top: 68vh;
    width: 70vh;
    height: 35vh;
    left: 11vh;
    border-radius: 4vh;
}

.but23 {
    position: absolute;
    border-radius: 16px;
    background-color: #9b59b6;
    font-family: 'ubuntu', sans-serif;
    font-size: 17px;
    top: 101vh;
    left: 37vh;
    width: 133px;
    height: 34px;
}

#img48 {
    position: absolute;
    top: 68vh;
    width: 74vh;
    height: 35vh;
    left: 109vh;
    border-radius: 21px;
}


.but24 {
    position: absolute;
    border-radius: 16px;
    background-color: #9b59b6;
    font-family: 'ubuntu', sans-serif;
    font-size: 17px;
    top: 101vh;
    left: 130vh;
    width: 233px;
    height: 34px;
}