header {
    position: fixed;
    height: 99px;
    width: 99.8%;
    font-size: 19px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

header > nav {
    top: 0;
    right: 0;
    position: absolute;

}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    text-align-all: left;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: inline;
    margin-left: 6px;
    color: white;
    padding: 0 20px 0 10px;
}

nav > ul > li:hover {
    cursor: pointer;
    color: red;
}

body > header > p {
    font-family: 'Roboto', sans-serif;
    color: white;
}