/**
 *Powered By:MINDARTLK.
 *version:v0.1.0
 **/

.posNavi{
    z-index: 5;
    width: 100%;
}
.naviItems>li:hover{
    background-color: red;
    cursor: pointer;
}
.customerPageNavi:hover{
    cursor: pointer;
}
.itemPageNavi:hover{
    cursor: pointer;
}
.placeOrderPageNavi:hover{
    cursor: pointer;
}
.searchCustomer{
    background-color: #c8c8c8;
}
.btnRegister{
    right: 30%;
}
.btnViewAllCustomers{
    right: 0%;
}
.itemTableDiv{
    position: relative;
    height: 30vh;
    overflow: auto;
    background-color: white;
}
.customeTableDiv{
    position: relative;
    height: 30vh;
    overflow: auto;
    background-color: white;
}
.cartTbleDiv{
    position: relative;
    height: 20vh;
    overflow: auto;
}

*{
    overflow-scrolling: auto;
}